<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylePageAllUser.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <header class="menubar" style="font-size: 20px;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-size: 26px; color: #1e62d0">Cat Store</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="{{url_for('homepage')}}">Home</a></li>
                <li class="active"><a href="#">All User</a></li>
                <li><a href="{{url_for('allCat')}}">Info Cat</a></li>
                <li><a href="#">Store</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Support <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Phone</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                <li><a href="{{url_for('logoutAccount')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
            </div>
        </nav>
    </header>
    
    <div class="container-lgm">
            <!--for demo wrap-->
            <h1>All User Account</h1>

            <div class="tbl-content" style=" height: 600px; overflow:auto;">
              <table cellpadding="0" cellspacing="0" border="0" class="w3-table-all w3-hoverable">
              <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Name</th>
                    <th>Add</th>
                    <th>Phone</th>
                    <th> ~~~~~~~~~ </th>
                  </tr>
                </thead>
                <tbody width="100">
                {% for line in data %}
                    <tr>
                        <td>{{ line.id }}</td>
                        <td>{{ line.username }} </td>
                        <td>{{ line.password }}</td>
                        <td>{{ line.name }}</td>
                        <td>{{ line.add }}</td>
                        <td>{{ line.phone }}</td>
                        <td>
                            <a class='btnupdate' href={{ url_for('updateaccount', id = line.id, username=line.username, password=line.password, name=line.name, add=line.add,  phone=line.phone ) }}>Update</a>
                            <a class='btndelete' href={{ url_for('deleteAccount',id = line.id, username=line.username, password=line.password, name=line.name, add=line.add,  phone=line.phone ) }}>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div>
               <a href="{{ url_for('create_account') }}">create account</a>
            </div>
          <!-- follow me template -->
          <div class="labelbot">
              <label>&Omega;  Web admin quản lý dữ liệu  &Omega;</label>
          </div>
    </div>
</body>
</html>