<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All User</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylePageUpdateAccount.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(window).on("load resize ", function() {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();
    </script>
</head>
<body>
    <header class="menubar" style="font-size: 20px;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-size: 26px;">Cat Store</a>
            </div>

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">All User</a></li>
                <li><a href="#">Info Cat</a></li>
                <li><a href="./store.html">Store</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Support <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Phone</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
            </div>
        </nav>
    </header>

    <div class="container-lg">
            <h1>Update Account</h1>
            <form action="#" method="POST" >
                        <div class="form-group">
                            <label for="newname">Email address</label>
                            <input type="email" class="form-control" name="newname" aria-describedby="emailHelp" placeholder={{ account.name }}>
                        </div>

                        <div class="form-group">
                            <label for="newpassword">Password</label>
                            <input type="password" class="form-control" name="newpassword" placeholder={{ account.password }}>
                        </div>

                        <div class="form-group">
                            <label for="newname">Name</label>
                            <input type="text" class="form-control" name="newname" placeholder={{ account.name }}>
                        </div>

                        <div class="form-group">
                            <label for="newadd">Add</label>
                            <input type="text" class="form-control" name="newadd" placeholder={{ account.add }}>
                        </div>

                        <div class="form-group">
                            <label for="newphone">Phone</label>
                            <input type="text" class="form-control" name="newphone" placeholder={{ account.phone }}>
                        </div>



                        <div class="form-check">

                            <label class="form-check-label" for="exampleCheck1">User</label>
                            <input type="radio" class="form-check-input" name="checkAccount" id="checkAccount" value="useraccount">

                            <label class="form-check-label" for="exampleCheck1">Admin</label>
                            <input type="radio" class="form-check-input" name="checkAccount" id="checkAccount" value="adminaccount">

                        </div>

                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="#" class="forgot-pass">Cancel</a>
                    </form>
          <div class="labelbot">
              <label>&Omega;  Web admin quản lý dữ liệu  &Omega;</label>
          </div>
    </div>
</body>
</html>